@page
@using Auth_Simple.Web.Areas.Identity.Views
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Có lỗi xảy ra trong quá trình thao tác</h2>
<h2 class="text-info">Trở về trang chủ <a asp-action="Index" asp-controller="Home">Home</a></h2>



@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
